html {
  margin: 0px;
  height: 101%;
  width: 100%;
}

body {
  background-color: #282c33 !important;
  /*background-image: url('https://images.unsplash.com/photo-1557264337-e8a93017fe92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');*/
  background-image: url('https://unsplash.com/photos/k9TDpGMDavs/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MTcyfHx0ZWNoJTIwYWJzdHJhY3R8ZW58MHx8fHwxNjgwNTY4ODc0&force=true&w=2400');
  background-size: cover !important;
  background-repeat: no-repeat;
  min-height: 100%;
  width: 100%;
  margin: 0px;
 background-attachment: fixed;
}

.App {
  text-align: center;
}

.main-div {
  align-items: left;
  text-align: left;

}

.resume-div {
  padding-left: 15px;
}

.resume-doc {
  padding-top: 10px;
}

.skills-list, .experience-list, .contact-list {
  display: flex;
  color: #f1f1f1;
  align-items: left;
  text-align: left;
  font-weight: 600;
  padding-left: 15px;
  font-size: 1.5em;
}

.skills, .experience, .contact, .prior-experience {
  list-style: none;
  text-align: left;
  padding-left: 10px;
  font-size: .70em;
}

.resume-button-div {
}

.download-button-div {
  padding-top: 10px;
  padding-left: 10px;
}

.button-main {
  border: none;
  border-radius: 15px;
  color: #282C33;
}

.button-secondary {
  border: none;
  border-radius: 15px;
  color: #282C33;
}

.prior-experience-button{
  background-color: #979797;
  border: none;
  border-radius: 15px;
  color: #282C33;
  font-size: .75em;
}

.navbar-title {
  font-size: 1.5em !important;
}