html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  background-color: #414242 !important;

  /*background-image: url('https://images.unsplash.com/photo-1557264337-e8a93017fe92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-image: url('https://unsplash.com/photos/k9TDpGMDavs/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MTcyfHx0ZWNoJTIwYWJzdHJhY3R8ZW58MHx8fHwxNjgwNTY4ODc0&force=true&w=2400');
  background-image: url('https://unsplash.com/photos/VFiQvZPlm2k/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MTZ8fHJldHJvJTIwY29tcHV0ZXJ8ZW58MHx8fHwxNjg3NDc2ODc4fDA&force=true&w=1920');*/
  /*background-size: cover !important;*/
  min-height: 100%;
  width: 100%;
  margin: 0px;
  background: rgb(50,53,70);
  background: linear-gradient(90deg, rgba(50,53,70,1) 58%, rgba(66,69,85,1) 69%, rgba(50,53,70,1) 80%);
  background-attachment: fixed;
  overflow: hidden;

}

.App {
}

.main-div {
}

.resume-div {
  padding-left: 15px;
}

.resume-doc {
  padding-top: 10px;
}

.typewriter-div {
  color: rgb(86, 194, 95);
  font-size: 1.4rem;
  /*font-family: 'TheGoodMonolith', sans-serif;*/
  font-family: "Lucida Console", "Courier New", monospace;
  text-decoration: none !important;
}

.Computer {
  padding-top: 10px;
}

.screen-div {
  margin: auto;
  margin-left: 30px;
  margin-top: 20px;
  align-items: left;
  padding: 10px;
  margin-right: 50px;

}

.screen-link:hover {
  text-decoration: none;
  color: rgb(86, 194, 95)
  !important;
}

a {
  text-decoration: none !important;
  color: rgb(86, 194, 95) !important;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1.4rem;
  font-weight: 300 !important;
}

.Typewriter__cursor {
  animation-name: typewriter-cursor !important;
  animation-duration: .5s !important;
  /*animation-iteration-count: 21 !important;*/
}

@keyframes typewriter-cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*
@keyframes typewriter-cursor {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
*/


.cursor {
  opacity: 0;
}

.screen-link:hover span {
	animation: screen-link 1s linear infinite;
}

@keyframes screen-link {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}
